ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.section_header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.section_header.section_header_bg {
	background: green;
}

.main_menu {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
	li {
		a {
			color: #fff;
			text-transform: uppercase;
			font-size: 24px;
			padding: 0 15px;
		}
		&:last-child {
			a {
				display: block;
				width: 80px;
				height: 50px;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}

.slider_banner {
	.item {
		width: 100%;
		img {
			width: 100%;
		}
	}
}

.section_aboutus {
	position: relative;
	padding: 60px 0;
	.element_dangki {
		position: absolute;
		bottom: -15px;
		left: 50%;
		transform: translate(-50% , 0);
		.btn_dangkingay {
			font-family: SVN-Avo;
			font-size: 24px;
			color: #fff;
			background-image: linear-gradient(to right, red , yellow);
			text-transform: uppercase;
			border: none;
			padding: 20px 35px;
		}
	}
}

.btn_dangkingay {
	font-family: SVN-Avo;
	font-size: 24px;
	color: #fff;
	background-image: linear-gradient(to right, red , yellow);
	text-transform: uppercase;
	border: none;
	padding: 20px 35px;
}

.title_color {
	text-align: center;
	h2 {
		text-transform: uppercase;
		font-size: 46px;
		color: #000;
		font-family: SVN-Avo;
		span {
			color: green;
			font-size: 55px;
		}
	}
	span {
		font-size: 46px;
		text-transform: uppercase;
		color: green;
		font-family: SVN-Avo;
	}
}

.element_aboutsus {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	.item {
		width: 32%;
		overflow: hidden;
		text-align: center;
		.img {
			width: 370px;
			height: 370px;
			border-radius: 50%;
			overflow: hidden;
			margin: auto;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.content {
		h3 {
			font-size: 24px;
			font-weight: bold;
			text-transform: uppercase;
			color: green;
		}
		p {
			font-size: 18px;
			color: grey;
		}
	}
}

.element_giaiphap {
	width: 40%;
	overflow: hidden;
	.btn_dangkingay {
		margin: 30px auto;
	}
	.item {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		position: relative;
		&:before {
			position: absolute;
			content: '';
			width: 4	50px;
			height: 2px;
			background: green;
			bottom: 0;
			left: 0;
		}
		> span {
			display: block;
			font-size: 30px;
			color: green;
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		p {
			font-size: 18px;
			font-family: SVN-Avo;
			width: calc(100% - 50px);
			padding-left: 20px;
			margin: 0;
			span {
				text-transform: uppercase;
				color: green;
			}
		}
	}
}

.title_giaiphap {
	h3 {
		font-size: 26px;
		text-transform: uppercase;
		margin-top: 0;
		text-align: center;
		font-family: SVN-Avo;
	}
	h2 {
		font-size: 45px;
		text-transform: uppercase;
		margin-top: 0;
		text-align: center;
		font-family: SVN-Avo;
	}
}

.section_giaiphap {
	padding: 60px 0;
	.row {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}
}

.element_img_giaiphap {
	width: 60%;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.section_nangnguc {
	background-image: url(./../img/LT-07.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 60px 0;
	.row {
		display: flex;
		justify-content: flex-end;
		.video {
			width: 45%;
			overflow: hidden;
			.btn_video {
				width: 100%;
				height: 350px;
				background: orange;
				position: relative;
				img {
					possition: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

		}
	}
}

.title_video {
	text-align: center;
	h2, h3 {
		font-size: 30px;
		color: grey;
		text-transform: uppercase;
	}
	h3 {
		color: green;
	}
}

.section_banner_page {
	width: 100%;
	overflow: hidden;
	img {
		width: 100%;
	}
}

.title_style_2 {
	color: #fff;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
}

.element_video_style_2 {
	width: 100%;
	display: inline-block;
	.item {
		.video_box {
			overflow: hidden;
			width: 100%;
			height: 350px;
			background: grey;
			iframe {
				width: 100%;
				height: 100%;
			}
		}
	}
}

.section_video_style2 {
	background: grey;
}

.section_link_form {
	background: green;
	padding: 25px 0;
}

.element_link_form {
	.item {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;
		span {
			display: flex;
			width: 70px;
			height: 70px;
			background: #fff;
			overflow: hidden;
			border-radius: 50%;
			justify-content: center;
			align-items: center;
			img {
				max-width: 100%;
			}
		}
		.content {
			margin-left: 25px;
			p {
				font-size: 20px;
				color: #fff;
				text-transform: uppercase;
				margin: 0;
			}
			h3 {
				font-size: 20px;
				color: yellow;
				text-transform: uppercase;
				margin: 0;
			}
		}
		&:nth-child(2) {
			span {
				width: auto;
				border-radius: 0;
				background: transparent;
				.btn_dangkingay {
					color: #000;
					background: #fff;
					border: none;
					border-radius: 0;
					padding: 10px 15px;
				}
			}
			h3 {
				color: #fff;
			}
		}
	}
}

.slider_client {
	width: 100%;
	overflow: hidden;
	.item {
		width: 100%;
		img {
			width: 100%;
		}
	}
}

.section_img_client {
	padding: 60px 0;
}

.section_noibo {
	background-image: url(./../img/LT-07.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 60px 0;
	.row {
		display: flex;
		justify-content: flex-end;
		.element_noibo {
			width: 45%;
			overflow: hidden;
			.title_color {
				text-align: left;
			}
			p {
				font-size: 18px;
				color: grey;
			}
		}
	}
}

.form_contact {
	width: 100%;
	form {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		span {
			width: 100%;
			border: 1px solid grey;
			display: block;
			height: 50px;
			margin-bottom: 20px;
			border-radius: 5px;
			overflow: hidden;
			input {
				width: 100%;
				height: 100%;
				padding: 0 15px;
				&::placeholder {
					font-size: 16px;
					color: grey;
				}
				&:focus {
					outline: 0;
					&::placeholder {
						opacity: 0;
					}
				}
			}
			textarea {
				width: 100%;
				height: 100%;
				padding: 15px;
				&::placeholder {
					font-size: 16px;
					color: grey;
				}
				&:focus {
					outline: 0;
					&::placeholder {
						opacity: 0;
					}
				}
			}
			&:nth-child(2) , &:nth-child(3) {
				width: 48%;
				height: 50px;
			}
			&:nth-child(4) {
				height: 120px;
			}
			&:last-child {
				border: none;
				.guithongtin_btn {
					width: 100%;
					height: 100%;
					background: grey;
					color: #000;
					text-transform: uppercase;
					text-align: center;
					border: none;
				}
			}
		}
	}
}

.section_form {
	padding: 60px 0;
}

.element_fanpage {
	width: 100%;
	text-align: center;
	p {
		font-size: 16px;
		color: #000;
		margin: 15px 0;
	}
	a {
		display: block;width: 100%;
		text-align: center;
		img {
			max-width: 100%;
		}
	}
}

.section_map {
	width: 100%;
	position: relative;
	.map_element {
		width: 100%;
		iframe {
			width: 100%;
		}
	}
	.address_element {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0 , -50%);
		background: green;
		width: 500px;
		padding: 30px;
		h2 {
			font-size: 20px;
			text-align: left;
			margin: 0 0 20px 0;
			text-transform: uppercase;
			color: #fff;
		}
		ul {
			li {
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;
				align-items: center;
				margin-bottom: 15px;
				span {
					display: block;
					width: 30px;
					img {
						max-width: 100%;
					}
				}
				p {
				 	width: calc(100% - 30px);
				 	padding-left: 25px;
				 	color: #fff;
				 	font-size: 16px;
				 	margin: 0;
				}
			}
		}
	}
}

.section_footer_info {
	width: 100%;
	padding: 20px 0;
	p {
		margin: 0 0 8px 0;
		font-size: 16px;
		color: #000;
		text-align: center;
	}
}