ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.section_header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 10px 0;
}

.section_header.section_header_bg {
  background: #145d09;
}

.main_menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
.main_menu li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 25px;
  border-left: 1px solid #fff;
  font-family: "UTMAvo";
}
.main_menu li:nth-child(1) a {
  border-left: 0;
}
.main_menu li:last-child a {
  display: block;
  overflow: hidden;
  border-left: none;
  margin-left: 30px;
}
.main_menu li:last-child a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider_banner .item {
  width: 100%;
  display: block;
}
.slider_banner .item img {
  width: 100%;
}

.section_aboutus {
  position: relative;
  padding: 60px 0;
  background-image: url(./../img/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.section_aboutus .element_dangki {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translate(-50%, 0);
}
.section_aboutus .element_dangki .btn_dangkingay {
  font-family: UTMAvo;
  font-size: 24px;
  color: #fff;
  background-image: linear-gradient(to right, #fed74e, #ff951f);
  text-transform: uppercase;
  border: none;
  padding: 20px 35px;
}

.btn_dangkingay {
  font-family: UTMAvo;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(to right, #fed74e, #ff951f);
  text-transform: uppercase;
  border: none;
  padding: 20px 35px;
}

.title_color {
  text-align: center;
  margin-bottom: 50px;
}
.title_color h2 {
  text-transform: uppercase;
  font-size: 30px;
  color: #4d4d4d;
  font-family: UTMAvoBold;
  font-weight: bold;
}
.title_color h2 span {
  color: #145d09;
  font-size: 45px;
}
.title_color span {
  font-size: 30px;
  text-transform: uppercase;
  color: #145d09;
  font-family: UTMAvoBold;
  font-weight: 900;
}

.element_aboutsus {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 150px;
}
.element_aboutsus .item {
  width: 30%;
  text-align: center;
  margin-bottom: 45px;
}
.element_aboutsus .item:nth-child(2) {
  margin-top: -45px;
}
.element_aboutsus .item:nth-child(5) {
  margin-top: 45px;
}
.element_aboutsus .item .img {
  width: 370px;
  height: 370px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  border: 15px solid #ddd;
  box-shadow: 1px 5px 10px #00000070;
}
.element_aboutsus .item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.element_aboutsus .content h3 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #145d09;
  font-family: "UTMAvoBold";
}
.element_aboutsus .content p {
  font-size: 18px;
  color: #333333;
  font-family: "UTMAvo";
  font-weight: bold;
  text-align: justify;
}

.element_giaiphap {
  width: 40%;
  overflow: hidden;
  text-align: center;
}
.element_giaiphap .btn_dangkingay {
  margin: 30px auto;
}
.element_giaiphap .item {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
  padding: 0 0 15px 0;
  text-align: left;
}
.element_giaiphap .item:nth-child(7):before {
  display: none;
}
.element_giaiphap .item:before {
  position: absolute;
  content: "";
  width: 250px;
  height: 2px;
  background: #145d09;
  bottom: 0;
  left: 0;
}
.element_giaiphap .item > span {
  display: block;
  font-size: 60px;
  color: #145d09;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.element_giaiphap .item p {
  font-size: 18px;
  font-family: UTMAvo;
  font-weight: bold;
  width: calc(100% - 50px);
  padding-left: 20px;
  margin: 0;
}
.element_giaiphap .item p span {
  text-transform: uppercase;
  color: #333333;
  font-family: "UTMAvoBold";
}

.title_giaiphap {
  margin-bottom: 30px;
}
.title_giaiphap h3 {
  font-size: 26px;
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
  font-family: UTMAvobold;
  color: #145d09;
}
.title_giaiphap h2 {
  font-size: 45px;
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
  font-family: UTMAvobold;
  color: #145d09;
}

.section_giaiphap {
  padding: 100px 0;
  background-image: url(./../img/bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}
.section_giaiphap .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.element_img_giaiphap {
  width: 60%;
  overflow: hidden;
}
.element_img_giaiphap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section_nangnguc {
  background-image: url(./../img/bg3.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}
.section_nangnguc .row {
  display: flex;
  justify-content: flex-end;
}
.section_nangnguc .row .video {
  width: 45%;
  overflow: hidden;
  text-align: center;
}
.section_nangnguc .row .video .btn_video {
  width: 100%;
  height: 350px;
  background: orange;
  position: relative;
  margin: 45px 0;
  border: none;
}
.section_nangnguc .row .video .btn_video img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title_video {
  text-align: center;
}
.title_video h2, .title_video h3 {
  font-size: 26px;
  text-transform: uppercase;
  font-family: "UTMAvoBold";
  color: #4d4d4d;
}
.title_video h3 {
  color: #145d09;
}

.section_banner_page {
  width: 100%;
  overflow: hidden;
}
.section_banner_page img {
  width: 100%;
}

.title_style_2 {
  color: #fff;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.title_style_2 h2 {
  font-family: "UTMAvoBold";
  line-height: 50px;
  text-shadow: 0px 1px 3px black;
}

.element_video_style_2 {
  width: 100%;
  display: inline-block;
}
.element_video_style_2 .item .video_box {
  overflow: hidden;
  width: 100%;
  height: 350px;
  background: grey;
}
.element_video_style_2 .item .video_box iframe {
  width: 100%;
  height: 100%;
}

.section_video_style2 {
  background-image: url(./../img/bg4.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}

.section_link_form {
  background: #01a200;
  padding: 25px 0;
}

.element_link_form .item {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.element_link_form .item span {
  display: flex;
  width: 70px;
  height: 70px;
  background: #fff;
  overflow: hidden;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.element_link_form .item span img {
  max-width: 100%;
}
.element_link_form .item .content {
  margin-left: 25px;
}
.element_link_form .item .content p {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 8px 0;
}
.element_link_form .item .content h3 {
  font-size: 20px;
  color: #ffff00;
  text-transform: uppercase;
  margin: 0;
}
.element_link_form .item:nth-child(2) span {
  width: auto;
  border-radius: 0;
  background: transparent;
}
.element_link_form .item:nth-child(2) span .btn_dangkingay {
  color: #145d09;
  background: #fff;
  border: none;
  border-radius: 0;
  padding: 10px 25px;
}
.element_link_form .item:nth-child(2) h3 {
  color: #fff;
}

.slider_client {
  width: 100%;
}
.slider_client .item {
  width: 100%;
}
.slider_client .item img {
  width: 100%;
}
.slider_client .slick-dots li button:before {
  font-size: 15px;
}
.slider_client .slick-prev {
  left: 0;
  z-index: 1;
}
.slider_client .slick-next {
  right: 15px;
}

.section_img_client {
  padding: 60px 0;
}

.section_noibo {
  background-image: url(./../img/bg5.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0 200px 0;
}
.section_noibo .row {
  display: flex;
  justify-content: flex-end;
}
.section_noibo .row .element_noibo {
  width: 45%;
  overflow: hidden;
}
.section_noibo .row .element_noibo .title_color {
  text-align: left;
}
.section_noibo .row .element_noibo p {
  font-size: 18px;
  color: grey;
}

.form_contact {
  width: 100%;
}
.form_contact form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.form_contact form span {
  width: 100%;
  border: 1px solid #80808061;
  display: block;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.form_contact form span input {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  border: none;
}
.form_contact form span input::placeholder {
  font-size: 16px;
  color: grey;
}
.form_contact form span input:focus {
  outline: 0;
}
.form_contact form span input:focus::placeholder {
  opacity: 0;
}
.form_contact form span textarea {
  width: 100%;
  height: 100%;
  padding: 15px;
  border: none;
}
.form_contact form span textarea::placeholder {
  font-size: 16px;
  color: grey;
}
.form_contact form span textarea:focus {
  outline: 0;
}
.form_contact form span textarea:focus::placeholder {
  opacity: 0;
}
.form_contact form span:nth-child(2), .form_contact form span:nth-child(3) {
  width: 48%;
  height: 50px;
}
.form_contact form span:nth-child(4) {
  height: 120px;
}
.form_contact form span:last-child {
  border: none;
}
.form_contact form span:last-child .guithongtin_btn {
  width: 100%;
  height: 100%;
  background: #80808042;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-family: "UTMAvoBold";
  font-size: 20px;
}

.section_form {
  padding: 100px 0;
}

.element_fanpage {
  width: 100%;
  text-align: center;
}
.element_fanpage p {
  font-size: 16px;
  color: #000;
  margin: 15px 0;
}
.element_fanpage a {
  display: block;
  width: 100%;
  text-align: center;
}
.element_fanpage a img {
  max-width: 100%;
}

.section_map {
  width: 100%;
  position: relative;
}
.section_map .map_element {
  width: 100%;
}
.section_map .map_element iframe {
  width: 100%;
}
.section_map .address_element {
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translate(0, -50%);
  background: #145d09;
  width: 500px;
  padding: 30px;
}
.section_map .address_element h2 {
  font-size: 20px;
  text-align: left;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  color: #fff;
  font-family: "UTMAvoBold";
}
.section_map .address_element ul li {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}
.section_map .address_element ul li span {
  display: block;
  width: 30px;
}
.section_map .address_element ul li span img {
  max-width: 100%;
}
.section_map .address_element ul li p {
  width: calc(100% - 30px);
  padding-left: 25px;
  color: #fff;
  font-size: 16px;
  margin: 0;
}

.section_footer_info {
  width: 100%;
  padding: 20px 0;
}
.section_footer_info p {
  margin: 0 0 8px 0;
  font-size: 16px;
  color: #000;
  text-align: center;
}

.top_up {
  position: fixed;
  right: 3px;
  bottom: 20px;
  display: grid;
  z-index: 100;
  background: green;
  padding: 15px;
}

.section_link {
  position: fixed;
  left: 50px;
  bottom: 50px;
  display: grid;
  z-index: 100;
}
.section_link a {
  text-align: center;
  display: block;
  margin: 10px 0;
  width: 35px;
}
.section_link a img {
  max-width: 100%;
  width: 100%;
}
.circle {
  border-radius: 50%;
  transition: height 0.25s ease, width 0.25s ease;
  transform: translate(-50%, -50%);
  z-index: 6;
}
.circle:before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0;
  left: 0px;
  border-radius: 50%;
  border: 1px solid #00aff2;
  background: #00aff27a;
  animation: ripple 2.5s linear infinite;
}
.circle:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 1px solid #00aff2;
  background: #00aff27a;
  z-index: -1;
  animation: ripple 2s linear 1s infinite;
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.75);
    opacity: 1;
  }
  100% {
    transform: scale(2.25);
    opacity: 0;
  }
}
.slider_review {
  width: 100%;
  margin: 0 -30px;
  position: relative;
  /*.slick-dots li button {
  	border: 1px solid #000;
  	border-radius: 50%;
  }*/
}
.slider_review .slick-dots {
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 10;
  width: 50px;
}
.slider_review .slick-dots li button:before {
  font-size: 15px;
  /*color: transparent;*/
}
.slider_review .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #145d09;
}
.slider_review .item {
  padding: 30px;
  position: relative;
}
.slider_review .item:before {
  position: absolute;
  content: "";
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  background: #00000070;
  top: 30px;
  left: 30px;
  z-index: 1;
}
.slider_review .item img {
  width: 100%;
}
.slider_review .slick-slide.slick-current.slick-active.slick-center .item {
  position: relative;
  padding: 0 !important;
}
.slider_review .slick-slide.slick-current.slick-active.slick-center .item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 120%;
  z-index: 10;
}
.slider_review .slick-slide.slick-cloned.slick-active .item {
  height: 80%;
  overflow: hidden;
}

.section_slider_review {
  padding: 80px 0;
}

.text_right {
  text-align: right;
  width: 100%;
}
.text_right h2 {
  font-size: 18px;
  padding-left: 60%;
  line-height: 25px;
}

.section_slider_review {
  position: relative;
}
.section_slider_review .element_dangki {
  right: 25%;
  bottom: -35px;
  position: absolute;
}

.section_form_fix .element_form_fix.active {
  display: block;
}

.section_form_fix {
  position: fixed;
  right: 50px;
  bottom: 20px;
  width: 290px;
  overflow: hidden;
}
.section_form_fix .element_form_fix {
  border: 1px solid grey;
  overflow: hidden;
  border-radius: 5px;
  display: none;
}
.section_form_fix .element_form_fix .head_form {
  background: #145d09;
  padding: 10px 15px;
}
.section_form_fix .element_form_fix .head_form .top {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}
.section_form_fix .element_form_fix .head_form .top p {
  color: #fff;
  font-size: 12px;
  margin: 0;
}
.section_form_fix .element_form_fix .head_form .top .menu {
  width: 15px;
}
.section_form_fix .element_form_fix .head_form .top .menu span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  margin: 4px 0;
}
.section_form_fix .element_form_fix .head_form .content {
  padding: 20px 0 0 0;
}
.section_form_fix .element_form_fix .head_form .content p {
  color: #fff;
  margin: 0;
}
.section_form_fix .element_form_fix .body_form {
  background: #fff;
  padding: 20px 15px;
  position: relative;
  height: 270px;
  overflow: scroll;
}
.section_form_fix .element_form_fix .body_form .item_bs {
  width: 100%;
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: end;
  position: relative;
}
.section_form_fix .element_form_fix .body_form .item_bs .avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  background: grey;
}
.section_form_fix .element_form_fix .body_form .item_bs .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_form_fix .element_form_fix .body_form .item_bs .text {
  padding: 10px;
  color: #fff;
  background: #145d09;
  position: relative;
  border-radius: 5px;
  width: 60%;
  margin-left: 15px;
}
.section_form_fix .element_form_fix .body_form .item_bs .text:before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 10px;
  left: -4px;
  border-top: 8px solid #145d09;
  border-left: 8px solid #145d09;
  transform: rotate(45deg);
}
.section_form_fix .element_form_fix .body_form .item_bs .text p {
  color: #fff;
}
.section_form_fix .element_form_fix .body_form .item_bs > p {
  position: absolute;
  bottom: -30px;
  left: 45px;
}
.section_form_fix .element_form_fix .body_form .item_kh {
  width: 100%;
  text-align: right;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-top: 30px;
  align-items: end;
  position: relative;
}
.section_form_fix .element_form_fix .body_form .item_kh .avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  background: grey;
}
.section_form_fix .element_form_fix .body_form .item_kh .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_form_fix .element_form_fix .body_form .item_kh .text {
  padding: 10px;
  color: #fff;
  background: #145d09;
  position: relative;
  border-radius: 5px;
  width: 60%;
  margin-right: 15px;
}
.section_form_fix .element_form_fix .body_form .item_kh .text:before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 10px;
  right: -4px;
  border-top: 8px solid #145d09;
  border-left: 8px solid #145d09;
  transform: rotate(45deg);
}
.section_form_fix .element_form_fix .body_form .item_kh .text p {
  color: #fff;
}
.section_form_fix .element_form_fix .body_form .item_kh > p {
  position: absolute;
  bottom: -30px;
  left: 45px;
}
.section_form_fix .element_form_fix .form_input {
  padding: 15px 10px;
  background-color: #fff;
  width: 100%;
  border-top: 1px solid grey;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.section_form_fix .element_form_fix .form_input input {
  width: 70%;
}
.section_form_fix .element_form_fix .form_input a {
  display: block;
  width: 9%;
  background: grey;
  margin-left: 1%;
}
.section_form_fix .element_form_fix .form_input a img {
  max-width: 100%;
}
.section_form_fix .element_form_fix .form_input .form_fix {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
}
.section_form_fix .element_form_fix .form_input .form_fix p {
  margin: 0;
}
.section_form_fix .element_form_fix .form_input .form_fix p img {
  width: 15px;
  background: grey;
}

.close_btn {
  width: 50px;
  height: 50px;
  background: #007134;
  border-radius: 50%;
  float: right;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close_btn:hover {
  cursor: pointer;
}
.close_btn img {
  max-width: 100%;
  width: 20px;
}
.close_btn .chat_btn {
  display: none;
}

.close_btn.active img {
  display: none;
}
.close_btn.active .chat_btn {
  display: block !important;
}